{% load static %}
{% load markdown_extras %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static "home/img/favicon.ico" %}">

    {# CSS #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/css/defStyle.css" %}">
    {% block customCSS %}{% endblock %}

    {# Script #}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{%static 'home/js/def.js' %}"></script>
    <title>{% block title %}{% endblock %} | デジクリ</title>
</head>

<body>
    <header class="navbarnavbar-light " style="background-color:#00aeff;">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a href="/" class="navbar-brand">
                    <img src="{% static "home/img/logo.png" %}" height="60" alt="">
                </a>
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navmenu1"
                    aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1" style="width: 100%;">
                    <div class="navbar-nav mr-auto">
                        <!--デスクトップ用-->
                        <a href="/bbs" class="nav-item nav-link menu-icon-box d-none d-md-inline-block">
                            <i class="fas fa-chalkboard-teacher"></i><br>
                            <p>掲示板</p>
                        </a>
                        <a href="/work/" class="nav-item nav-link menu-icon-box d-none d-md-inline-block">
                            <i class="fas fa-paper-plane"></i><br>
                            <p>企画</p>
                        </a>
                        <a href="/ringi" class="nav-item nav-link menu-icon-box d-none d-md-inline-block">
                            <i class="fas fa-hand-holding-usd"></i><br>
                            <p>稟議</p>
                        </a>
                        <a href="/member" class="nav-item nav-link menu-icon-box d-none d-md-inline-block">
                            <i class="fas fa-user-friends"></i><br>
                            <p>メンバー</p>
                        </a>
                        <a href="{% url 'issue:index' %}" class="nav-item nav-link menu-icon-box d-none d-md-inline-block">
                            <i class="fas fa-level-up-alt"></i><br>
                            <p>改善</p>
                        </a>
                        <!--モバイル用-->
                        <a href="/bbs" class="nav-item nav-link d-md-none">
                            <i class="fas fa-chalkboard-teacher d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <h2 class="d-inline-block">掲示板</h2>
                        </a>
                        <a href="/work" class="nav-item nav-link d-md-none">
                            <i class="fas fa-paper-plane" d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <h2 class="d-inline-block">企画</h2>
                        </a>
                        <a href="/ringi" class="nav-item nav-link d-md-none">
                            <i class="fas fa-hand-holding-usd d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <h2 class="d-inline-block">稟議</h2>
                        </a>
                        <a href="/member" class="nav-item nav-link d-md-none">
                            <i class="fas fa-user-friends d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <h2 class="d-inline-block">メンバー</h2>
                        </a>
                        <a href="" class="nav-item nav-link d-md-none">
                            <i class="fas fa-user-cog d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <!--<h2 class="d-inline-block">個人設定</h2>-->
                        </a>
                        <a href="" class="nav-item nav-link d-md-none">
                            <i class="fas fa-id-badge d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <h2 class="d-inline-block">プロフィール</h2>
                        </a>
                        <a href="{% url 'account:logout' %}" class="nav-item nav-link d-md-none">
                            <i class="fas fa-sign-out-alt d-inline-block"></i>
                            <div class="d-inline-block" style="width: 10px;"></div>
                            <h2 class="d-inline-block">ログアウト</h2>
                        </a>
                    </div>

                </div>
                <div>
                    <div class="dropdown d-none d-md-inline-block">
                        <a href="#" class="dropdown-toggle header-userinfo" data-toggle="dropdown" role="button">
                            {% if user.icon.url != "/media/defo.png" %}
                            <img src="{{ user.icon.url }}" alt="User画像">
                            {% endif %}
                            <p>{{ user.username }}</p>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <!--<a class="dropdown-item" href="#">個人設定</a>-->
                            <a class="dropdown-item" href="/member/me">プロフィール</a>
                            <a class="dropdown-item" href="/admin">管理画面</a>
                            <a class="dropdown-item" href="/blog">ブログ</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'account:logout' %}">ログアウト</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center text-black-50">
        <small>©デジクリ/2020</small>
    </footer>

</body>


</html>