{% extends 'home/header.htm' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home.index' %}">ホーム</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'issue:index' %}">バグ報告・機能要望</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'issue:edit' id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary mt-3" value="更新する">
            </form>
        </div>
    </div>
</div>
{% endblock %}