{% extends 'home/header.htm' %}
{% load static %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home.index' %}">ホーム</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4><i class="fas fa-tasks"></i> バグ報告・機能要望</h4>
            <p>バグや新規機能の要望などあればこちらまで</p>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-md-2 shadow">
            <p><button type="button" class="btn btn-primary btn-block mt-2" onclick="location.href='{% url 'issue:create' %}'">登録する</button></p>
            <li class="list-unstyled"><strong>状況</strong></li>
            <li class="list-unstyled">未完了</li>
            {% for status in uncompleted_statuses %}
            <li class="list-unstyled">
                {% if forloop.last %}┗{% else %}┣{% endif %}■<a href="?status={{ status.id }}">{{ status.name }}</a> {{ status.issue_set.count }}件
            </li>
            {% endfor %}
            <li class="list-unstyled">✔完了</li>
        </div>

        <div class="col-md-10">
            <p>{{ records_num }}件のレコード</p>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr class="info">
                            <th width=1px></th>
                            <th width=1px></th>
                            <th>id</th>
                            <th>表題</th>
                            <th>状況</th>
                            <th>種別</th>
                            <th>登録者</th>
                            <th>担当者</th>
                            <th>登録日</th>
                            <th>詳細</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in page_obj %}
                            <tr>
                                <td>
                                    {% if perms.issue.change_issue %}
                                    <a href="{% url 'issue:edit' issue.id %}" style="text-decoration: none;">📝</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if perms.issue.delete_issue %}
                                    <a href="{% url 'issue:delete' issue.id %}" style="text-decoration: none;">❌</a>
                                    {% endif %}
                                </td>
                                <td>{{ issue.id }}</td>
                                <td><a href="{% url 'issue:show' issue.id %}">{{ issue.title }}</a></td>
                                <td class="table-{{ issue.status.color }}">{{ issue.status.name }}</td>
                                <td class="table-{{ issue.category.color }}">{{ issue.category }}</td>
                                <td>{{ issue.user.username }}</td>
                                <td>{{ issue.assignee.username }}</td>
                                <td>{{ issue.created_at | naturalday }}</td>
                                <td>{{ issue.content | linebreaksbr }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {# ペジネーション #}
            {% include 'includes/page.html' %}
        </div>
    </div>
</div>
{% endblock %}