django == 3.1.13
django-markdownx
gunicorn == 20.0.4
libsass
django-compressor
django-sass-processor
pillow
mysqlclient == 1.4.6
django-slack
django-mdeditor
Markdown
djangorestframework
django-filter
django-cors-headers
PyJWT == 2.1.0
djangorestframework-simplejwt == 4.8.0
djoser
sendgrid
