{% extends 'home/header.htm' %}
{% load markdown_extras %}
{% load static %}
{% block title %}詳細{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{% static "bbs/css/bbs.css" %}">{% endblock %}
{% block content %}

<div class="bbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home.index' %}">ホーム</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'bbs.index' channel_name %}">掲示板</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'bbs.index' channel_name %}">{{ channel_name }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ message.title }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-2 shadow">
                <a type="button" class="btn btn-primary" href="/bbs/" {{ channel_name }}>戻る</a><br>
                <a type="button" class=" btn btn-warning" href="/bbs/{{ channel_name }}/show/{{message.id}}/edit">編集</a>

                
                <h5 class="mt-2">チャンネル</h5>
                <div class="list-group mt-2">
                    {% for ch in channel_list %}
                        {% if ch.name == channel_name %}
                        <a class="list-group-item list-group-item-action active" href="/bbs/{{ ch.name }}">
                            {{ ch.name }}
                        </a>
                        {% else %}
                        <a class="list-group-item list-group-item-action" href="/bbs/{{ ch.name }}">
                            {{ ch.name }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10">

                <div class="card">
                    <div class="card-body">
                        <div class="card-title bbs-content-header">
                            <h4>{{ message.title }}</h4>
                            <div class="floating">
                                <img src="{{ message.member.icon.url }}" alt="">
                                <p>{{ message.member.username }}</p>
                                <p>{{ message.pub_date | date:"Y/m/d H:i" }}</p>
                            </div>
                            <div class="float-blocker"></div>
                        </div>
                        <div>{{ message.content|markdown|safe }}</div>
                        {#スタンプ#}
                        <div id="{{message.id}}_stamps">
                            {% for stamp in message.messagestamp_set.all %}
                            <a id="btn_{{stamp.stamp.name}}" data-toggle="tooltip" title="{{stamp.return_names}}" href="javascript:void(0);"
                                onclick="bbsStampOnClick('{{stamp.stamp.id}}',{{message.id}},'message');"
                                class="badge badge-pill badge-secondary">
                                <img src="{{stamp.stamp.image.url}}" alt="" style="width: 15px;height:15px;">
                                {{stamp.users.count}}
                            </a>
                            {% endfor %}
                        </div>
                        {# スタンプ追加ボタン #}
                        <div>
                            <span class="badge badge-pill badge-warning">
                                <select name="stampchoice_{{message.id}}" id="stampchoice_{{message.id}}">
                                    {% for stamp in stamps %}
                                    <option value="{{stamp.id}}">{{stamp.name}}</option>
                                    {% endfor %}
                                </select>
                                <a id="add_stamp" href="javascript:void(0);"
                                    onclick="addBbsStampOnClick({{message.id}},'message');">+</a>
                            </span>
                        </div>
                    
                        <div class="bbs-content-footer">
                        </div>
                    </div>
                </div>

                {% for reply in replys %}
                <div class="card ml-4 mt-2">
                    <div class="card-body">
                        <div class="bbs-content-header">
                            <div class="floating">
                                <img src="{{ reply.member.icon.url }}" alt="">
                                <p>{{ reply.member.username }}</p>
                                <p>{{ reply.pub_date | date:"Y/m/d H:i" }}</p>
                            </div>
                            <div class="float-blocker"></div>
                        </div>
                        <p>
                            {{ reply.formatted_markdown|safe }}
                        </p>

                        {#返信スタンプ#}
                        <div id="r{{reply.id}}_stamps">
                            {% for stamp in reply.replystamp_set.all %}
                            <a id="btn_{{stamp.stamp.name}}" data-toggle="tooltip" title="{{stamp.return_names}}" href="javascript:void(0);"
                                onclick="bbsStampOnClick('{{stamp.stamp.id}}',{{reply.id}},'reply');"
                                class="badge badge-pill badge-secondary">
                                <img src="{{stamp.stamp.image.url}}" alt="" style="width: 15px;height:15px;">
                                {{stamp.users.count}}
                            </a>
                            {% endfor %}

                        </div>
                        {# 返信スタンプ追加ボタン #}
                        <div>
                            <span class="badge badge-pill badge-warning">
                                <select name="stampchoice_r{{reply.id}}" id="stampchoice_r{{reply.id}}">
                                    {% for stamp in stamps %}
                                    <option value="{{stamp.id}}">{{stamp.name}}</option>
                                    {% endfor %}
                                </select>
                                <a id="add_stamp" href="javascript:void(0);"
                                    onclick="addBbsStampOnClick({{reply.id}},'reply');">+</a>
                            </span>
                        </div>
                    
                        <div class="bbs-content-footer">
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button type="button" class=" btn btn-info" data-toggle="modal" data-target="#reply-modal">コメント</button>

            </div>
            <div class="bbs-main-flow-m">
                <h2>{{ channel_name }}</h2>
                <div class="bbs-content">
                    <div class="bbs-content-header">
                        <h4>{{ message.title }}</h4>
                        <div class="floating">
                            <img src="{{message.member.icon_url}}" alt="">
                        </div>
                        <div class="float-blocker"></div>
                    </div>
                    <div>
                        {{ message.content|markdown|safe }}
                    </div>
                        
                    
                    <div class="bbs-content-footer">
                    </div>
                </div>

                {% for reply in replys %}
                <div class="bbs-reply-content">
                    <div class="bbs-content-header">
                        <div class="floating">
                            <img src="{{ reply.member.icon_url }}" alt="">
                            <p>{{ reply.member.username }}</p>
                            <p>{{ reply.pub_date | date:"Y/m/d H:i" }}</p>
                        </div>
                        <div class="float-blocker"></div>
                    </div>
                    <div>
                        {{ reply.formatted_markdown|safe }}
                    </div>
                        
                    <div class="bbs-content-footer">
                    </div>
                </div>
                {% endfor %}
                <button type="button" class=" btn btn-info" data-toggle="modal" data-target="#reply-modal">コメント</button>
            </div>
        </div>

    </div>
</div>
<a class="new-thread-btn-mobile" href="bbs">
    <i class="fas fa-plus-circle"></i>
</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip()
    function bbsStampOnClick(stamp_id, target_id = 0, kind = 'message') {
        url = '/bbs/' + kind + '_stamp/' + String(target_id) + '/' + stamp_id;
        if (kind == 'message') {
            $('#' + String(target_id) + '_stamps').load(url);
        } else {
            $('#r' + String(target_id) + '_stamps').load(url);
        }

    }
    function addBbsStampOnClick(target_id = 0, kind = 'message') {
        stamp_id = "";
        if(kind=='message'){
            stamp_id = String(document.getElementById("stampchoice_"+String(target_id)).selectedIndex+1);
        }else{
            stamp_id = String(document.getElementById("stampchoice_r"+String(target_id)).selectedIndex+1);
        }
        bbsStampOnClick(stamp_id, target_id, kind)
    }
</script>

{% endblock %}