{% extends 'blog/header.htm' %}
{% load static %}
{% block title %}ブログリレー2020summer{% endblock %}
{% block content %}
<div class="container">
    <h1>ブログリレー2020summer</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 14%" class="text-center">SUN</th>
                            <th scope="col" style="width: 14%" class="text-center">MON</th>
                            <th scope="col" style="width: 14%" class="text-center">TUE</th>
                            <th scope="col" style="width: 14%" class="text-center">WED</th>
                            <th scope="col" style="width: 14%" class="text-center">THU</th>
                            <th scope="col" style="width: 14%" class="text-center">FRI</th>
                            <th scope="col" style="width: 14%" class="text-center">SAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in aug_calender %}
                        <tr>
                            {% for day in week %}
                                {% if day != 0 %}
                                    <td class="text-center">
                                        <p class="text-left">{{ day }}</p>
                                        <p><img src="{{ user.icon.url }}" class="rounded-circle w-50" alt=""></p>
                                        <p>{{ user.username }}</p>
                                        <form action="{% url 'blog.relay_add_check' year month day %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success btn-sm">登録</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}