{% extends 'blog/header.htm' %}
{% load markdown_extras %}
{% load static %}
{% load sanitize %}
{% block title %}{{article.title}}{% endblock %}
{% block meta_tag %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@sitdigicre" />
<meta property="og:title" content="{{article.title}} | デジクリ" />
<meta property="og:description" content="{{ article.content|markdown|striptags|truncatechars:100}}" />
{% if article.article_image != 'null' %}
<meta property="og:image" content="{{ article.article_image }}" />
{% else %}
<meta property="og:image" content="{% static "home/img/favicon.ico" %}" />
{% endif %}
{% endblock %}
{% block customCSS %}
<style>
    #content{
        font-family: Arial, Helvetica, sans-serif;
    }
    p, li{
        font-size: medium;
    }
</style>    
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="shadow p-3 mb-3">
                <a href="/blog" class="btn btn-primary">一覧へ</a>
                <a href="/blog/article/{{article.id}}/tags" class="btn btn-primary">Tag</a>

                {% if is_edit_user %}
                <a href="/blog/article/{{article.id}}/edit" class="btn btn-primary">編集</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">         
            <!--
                TODO: 表示する方法を考える
                {% if article.article_image != 'null' %}
                <img src="{{ article.article_image }}" alt="カードの画像">
                {% endif %}
            -->
            <div class="inline-block">
                <div style="float: right;">
                    <img src="{{article.member.icon.url}}" alt="" style="height:50px; border-radius: 50%;">
                    <a style="font-size:20px;margin-top:5px;"
                        href="/member/{{article.member.profile.id}}">{{article.member.username}}</a>
                </div>
                <div class="text-center">
                    <h2 style="border-bottom: solid 2px #87CEFA;">
                        {{article.title}}
                        {% if article.is_active == False %}
                        (非公開)
                        {% endif %}
                    </h2>
                </div>
            </div>
            {% for article_tag in article.article_tags.all %}
            <a href="/blog/tag/{{article_tag.id}}" class="badge badge-pill badge-primary">{{article_tag.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <div id="content">{{ article.content|markdown|sanitize|safe }}</div>
        </div>
    </div>

</div>
<script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji: true,
            taskList: true,
            tex: true,
            flowChart: true,
            sequenceDiagram: true,
        });
        $(".reference-link").each(function (i, obj) {
            console.log(obj)
        })
    })
</script>
{% endblock %}
