{% extends 'home/header.htm' %}
{% load static %}
{% load humanize %}
{% block title %}編集{% endblock %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>プロフィール編集</h1>
            <div>
                <button type="button" class=" btn btn-info" data-toggle="modal" data-target="#add-usertool-modal">ツールの追加</button>
                <button type="button" class=" btn btn-info" data-toggle="modal" data-target="#add-division-modal">班の追加</button>
                
                <form action="/member/edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}

                    {{ profile_form.media }}
                    {{ profile_form.as_p }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="更新" name="user-edit-form">
                </form>
                
                <div class="modal fade" id="add-usertool-modal" tabindex="-1" role="dialog" aria-labelledby="usertool-label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reply-label">新規ツール・レベル更新</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" method="POST">
                            <div class="modal-body">
                                {% csrf_token %}
                                <p>ツール</p>
                                <select name="toolchoice" id="toolchoice" required>
                                    {% for tool in tools %}
                                    {% if tool in exist_tools %}
                                    <option value="{{tool.id}}">{{tool.name}}(レベル更新)</option>
                                    {% else %}
                                    <option value="{{tool.id}}">{{tool.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <p>レベル(1~5)</p>
                                <select name="toollevel" id="toollevel" required>
                                    <option value="1">1(初心者)</option>
                                    <option value="2">2(中級者)</option>
                                    <option value="3">3(上級者)</option>
                                    <option value="4">4(プロ)</option>
                                    <option value="5">5(ツール作者)</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">保存しないで閉じる</button>
                                <input type="submit" class="btn btn-primary" name="add-usertool-form" value="OK">
                            </div>
                        </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="add-division-modal" tabindex="-1" role="dialog" aria-labelledby="division-label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reply-label">班の追加</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" method="POST">
                            <div class="modal-body">
                                {% csrf_token %}
                                <p>班</p>
                                <select name="divisionchoice" id="divisionchoice" required>
                                    {% for division in divisions %}
                                    {% if division in profile.divisions.all %}
                                    <option value="{{division.id}}" disabled>{{division.name}}</option>
                                    {% else %}
                                    <option value="{{division.id}}">{{division.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">保存しないで閉じる</button>
                                <input type="submit" class="btn btn-primary" name="add-division-form" value="OK">
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}