{% extends 'home/header.htm' %}
{% load static %}
{% load humanize %}
{% block title %}編集{% endblock %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>プロフィール編集</h1>
            <img src="" alt="" style="width: 500px; display: inline-block;">
            <div>



                <button type="button" class=" btn btn-info" data-toggle="modal" data-target="#reply-modal">新規ツール</button>

                <h2>ユーザーデータ編集</h2>
                <form action="/member/edit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_table }}
                    <br>
                    <input type="submit" value="Submit" name="user-edit-form">
                </form>
                <h2>プロファイルデータ編集</h2>
                <form action="/member/edit" method="post">
                    {% csrf_token %}
                    {{ profile_form.as_table }}
                    <input type="submit" value="Submit" name="profile-edit-form">
                </form>

                <div class="modal fade" id="reply-modal" tabindex="-1" role="dialog" aria-labelledby="reply-label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reply-label">新規ツール</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{ add_usertool_form.as_table }}
                                        <tr>
                                            <td></td>
                                            <td><input type="submit" value="Submit" name="add-usertool-form"></td>
                                        </tr>
                                    </form>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">保存しないで閉じる</button>
                                <button type="button" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}