{% extends 'home/header.htm' %}
{% load static %}
{% load humanize %}
{% block title %}メンバー{% endblock %}
{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary">検索</button>
        </div>

        <div class="col-md-10">
            <h1>メンバー</h1>
            <div class="card-columns">
                {% for profile in profiles %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top rounded-circle" src="{{profile.user.icon.url}}" alt="ユーザー画像">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.username }}</h5>
                        <p class="card-text">{{profile.message}}</p>
                        {% include 'tool/usertool.htm' %}
                        <br>
                        <a href="/member/{{profile.id}}" class="btn btn-primary">詳細</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}