{% extends 'home/header.htm' %}
{% load static %}
{% load humanize %}
{% block title %}メンバー{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home.index' %}">ホーム</a></li>
                    <li class="breadcrumb-item active" aria-current="page">メンバー</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="shadow p-3 mb-3">
                <div style="width: 250px; display: inline-block;">
                    <p style="display: inline-block; font-size: 22px;margin: 0;">メンバー覧 ({{ num }}件)</p>
                </div>
                <a href="{% url 'work.index'%}" class="btn btn-primary">Work</a>
                <form action="" , method="GET" class="mt-2 input-group">
                    <input type="text" name="search_word" class="form-control inline-block">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
                {% for profile in page_obj %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top rounded-circle" src="{{profile.user.icon.url}}" alt="ユーザー画像">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.username }}</h5>
                        <p class="card-text">{{profile.message}}</p>
                        <a href="" class="badge badge-pill badge-primary">{{profile.generation}}th</a>
                        {% for division in profile.divisions.all %}
                        <a href="" class="badge badge-pill badge-info">{{division.name}}</a>
                        {% endfor %}
                        {% include 'tool/usertool.htm' %}
                        <br>
                        <a href="/member/{{profile.id}}" class="btn btn-primary">詳細</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {# ページネーション #}
            {% include 'includes/page.html' %}
        </div>
    </div>
    
</div>
{% endblock %}