{% extends 'home/header.htm' %}
{% load static %}
{% load humanize %}
{% block title %}ユーザーネーム{% endblock %}
{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <img src="" alt="" style="width: 500px; display: inline-block;">
            <div>
                {% if is_currentusers_data %}
                <a type="button" class="btn btn-primary" href='/member/edit'>編集</a><br>
                {% endif %}

                <h1 class="border-bottom border-info">{{profile.user.username}}</h1>
                <p >{{profile.message}}</p>
                <br>
                <p class="border-top border-info">{{ profile.formatted_markdown|safe }}</p>
                <br>
                <br>
                {% include 'tool/usertool.htm' %}
                <br>
                <h2 class="border-bottom border-info">作品一覧</h2>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}