{% extends 'home/header.htm' %}
{% load markdown_extras %}
{% load static %}
{% load humanize %}
{% block title %}ユーザーネーム{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-2">
        {% if is_currentusers_data %}
        <a type="button" class="btn btn-primary" href='/member/edit'>編集</a><br>
        <a type="button" class="btn btn-secondary" href="{% url 'account:password_change' %}">パスワード変更</a><br>
        {% endif %}
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="{{profile.user.icon.url}}" alt="アカウント画像" class="center-block rounded-circle" style="width: 100%;">
        </div>
        <div class="col-md-6">
            <h1 class="border-bottom border-info">{{profile.user.username}}</h1>
            <p >{{profile.message}}</p>
            <br>
            <a href="" class="badge badge-pill badge-primary">{{profile.generation}}th</a>
            {% for division in profile.divisions.all %}
            <a href="" class="badge badge-pill badge-info">{{division.name}}</a>
            {% endfor %}
            {% include 'tool/usertool.htm' %}
            <br>
            <h2 class="border-bottom border-info">作品一覧</h2>
            <table class="table table-striped">
                <tr>
                    <td>#</td>
                    <td>作品名</td>
                </tr>
                {% for work in profile.user.work_set.all %}
                <tr>
                    <th>
                        {% if work.leader_user_id == profile.user.id %}
                        ★
                        {% endif %}
                    </th>
                    <th>
                        <a href="/work/{{work.id}}">{{work.name}}</a>
                    </th>
                </tr>
            
            {% endfor %}
            </table>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <div>
                <div class="md">{{ profile.intro|markdown|safe }}</div>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}