{% extends 'blog/header.htm' %}
{% load static %}
{% block title %}編集{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <form action="/blog/article/{{article.id}}/edit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary mt-3" value="保存して公開" name="save-pub-btn">
            <input type="submit" class="btn btn-primary mt-3" value="非公開保存" name="save-nopub-btn">
        </form>
    </div>
</div>
{% endblock %}