{% extends "account/header.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="row">
    <div class="card col-md-6 offset-md-3">
        <div class="card-body">
            <form action="{% url 'account:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg btn-block" >ログイン</button>
                <a href="{% url 'account:password_reset' %}" class="btn btn-success btn-lg btn-block" >パスワードを忘れた方</a>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
        <!--
        <div class="card-footer">
            <a href="{% url 'account:user_create' %}" class="btn btn-danger btn-lg btn-block" >ユーザ登録</a>
        </div>
        -->
        
    </div>
</div>
{% endblock %}
